.todo-item--container {
  background-color: var(--n200);
  color: var(--n700);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 8px;
  padding: 8px 12px;
  box-sizing: border-box;
  border-radius: 12px;
  transition: 0.2s;
  width: 200px;
}

.todo-item--container:hover {
  background-color: var(--n100);
  color: var(--n900);
}

.todo-item--container-edit-active {
  background-color: var(--n100);
  color: var(--n900);
}

.todo-item-title--container {
  display: flex;
  align-items: center;
  gap: 4px
}

.todo-item-title--divider {
  width: 100%;
  height: 1px;
  background-color: var(--n300);
}

.todo-item-title--container span {
  display: inline;
  white-space: nowrap;
}


.todo-item-content--container {
  max-width: 100%;
  overflow-wrap: break-word;
  text-align: left;
  min-height: 50px;
}